
.Main{
    width: 100%;
}
.Center{
    width: 20%;
    margin: 20px auto;
    min-width: 230px;
}
.Button{
    margin-left: 5%;
    max-width: 80px;
}
.List{
    max-height: 60vh;
    overflow-y: auto;
}
